// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#article {
  p {
    line-height: 2rem;
  }

  .notification, .message {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
