<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%= image_tag 'icon01.png' %>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a class="navbar-item">
        当ブログについて
      </a>

      <a class="navbar-item">
        フリーランスエンジニアの実態
      </a>

      <a class="navbar-item">
        Udemy
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
      <div class="navbar-item">
        <a class="button is-info" href="https://twitter.com/yono_free">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
          <span>@yono_free</span>
        </a>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-dark">
  <div class="hero-body">
    <h1 class="title">
      フリエン生活
    </h1>
    <h2 class="subtitle is-5">フリーランスエンジニアの生活、お金、キャリア、技術を語るブログ</h2>
  </div>
</section>
